.addUser {
    background-color: white;
    width: 60%;
    margin: 50px auto;
   
    padding: 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
  
    
  }
  .addUserForm .inputGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .addUserForm .inputGroup label {
    margin-top: 10px;
  }
  
  .addUserForm .inputGroup input {
    margin-top: 5px;
    padding: 10px;
  }
  
  .inputGroup button {
    margin-top: 10px;
  }
  .login {
    margin-top: 30px;
    text-align: center;
  }
  
  .login .btn.btn-primary {
    width: 50%;
  }
  
  .addUser h3 {
    display:flex;
    justify-content: start;
    text-align: center;
    font-weight: bold;
    color: rgb(235, 112, 19);
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  }
  

  .addUser h6 {
    display:flex;
    justify-content: start;
    text-align: center;
    margin-left: 20%;
    font-weight: bold;
    color: rgb(235, 112, 19);
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  }

  .label {
    margin-right: 10px;
  }
  
  
